<mat-form-field class="width_100 mat-form-field_disable-padding-bottom" appearance="outline">
    <mat-label>Выберите показатель</mat-label>
    <mat-chip-list #chipList aria-label="Выберите показатель">
        <mat-chip
            *ngFor="let user of users"
            (removed)="remove(user)"
        >
            {{user.name}}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
        <input
            placeholder="Показатель..."
            #userInput
            [formControl]="userCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
            {{user.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>